.heading-l {
    font-size: 36px;
    font-weight: bold;
    line-height: 33px;
    text-space: -1;
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
    scrollbar-color: #DFE3FA #FFFFFf ;

}

.heading-m {
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
    text-space: -0.75;
}

.heading-s {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-space: -0.25;
}

body{
    font-weight: 500;
    font-size : 13px;
    line-height: 18px;
    text-space: -0.1;
}


#custom-scroll {
    scrollbar-width: thin;


}

#custom-scroll::-webkit-scrollbar {
    width: 8px;
    background: #DFE3FA;
    border-radius: 100px;
}

#custom-scroll::-webkit-scrollbar-track {
    background-color: #DFE3FA;
    border-radius: 100px;

}

#custom-scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}