.heading-l {
    font-size: 36px;
    font-weight: bold;
    line-height: 33px;
    text-space: -1;
}

*{
    padding: 0;
    margin: 0;

}

.heading-m {
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
    text-space: -0.75;
}

.heading-s {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-space: -0.25;
}

body{
    font-weight: 500;
    font-size : 13px;
    line-height: 18px;
    text-space: -0.1;
}